@font-face {
    font-family: 'RimowaGrotesk-Light';
    src: url('/fonts/RimowaGrotesk-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


body {
    margin: 0;
    padding: 0;
}