.Home-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .Home-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content-container {
    position: absolute;
    width: 80%;
    max-width: 600px;
    top: 50%;
    left: 75%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10; 
  }
  
  h3 {
    color: #705539;
    letter-spacing: 2px;
    font-size: 1.5rem; 
  }
  
  h2 {
    color: black;
    font-size: 3.5rem; 
  }
  
  .content-container img {
    max-width: 100px; 
    height: auto;
  }
  
  .content-container h3,
  .content-container h2,
  .content-container button {
    margin: 0;
    padding: 10px; 
  }
  
  .content-container button {
    padding: 12px 50px;
    background-color: white; 
    color: #705539;
    border: none;
    cursor: pointer;
    border: 2px solid #705539;
    letter-spacing: 2px;
    margin-top: 20px; 
    transition: background-color 0.5s ease, color 0.5s ease; 
  }
  
  .content-container button:hover {
    background-color: #705539;
    color: white;
  }
  
  @media (max-width: 768px) {
    
  
    h3 {
      font-size: 1.2rem; 
    }
  
    h2 {
      font-size: 2rem; 
    }
  
    .content-container img {
      max-width: 80px; 
    }
  
    .content-container button {
      padding: 10px 40px;
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .content-container {
        width: 90%;
        max-width: none;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
    h3 {
      font-size: 1rem; 
    }
  
    h2 {
      font-size: 1.5rem; 
    }
  
    .content-container img {
      max-width: 60px;
    }
  
    .content-container button {
      padding: 8px 30px;
      margin-top: 10px; 
    }
  }
  