.login-container {
    display: grid;
    grid-template-columns: auto auto;
    background: #f7f5f4;
    color: #424242;
    font-family: 'RimowaGrotesk-Light';

    h1,
    p,
    button {
       
        font-weight: 300;
    }

    h2 {
      font-size: 2rem;
      color: #424242;
    }

    .login-image {
        width: 90%;

        img {
            height: 100%;
            max-width: 90%;
            object-fit: cover;
        }
    }

    .login-form {
        padding-top: 80px;
        width: 100%;
        max-width: 420px;
        box-sizing: border-box;
    }

    input,
    button {
        width: 100%;
        box-sizing: border-box;
    }

    .form-body {
        .input-group {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .signup-benefits {
        .benefit-item {
            display: flex;
            align-items: center;
            gap: 10px;
         
            img {
                width: 20px;
                height: 20px;
                
            }
        }
    }

    button {
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        letter-spacing: 2.25px;
        line-height: 12px;
        overflow: hidden;
        padding: 16px 12px;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    .signup-container {
        margin-top: 50px;

        button {
            margin-top: 30px;
          
        }
    }

    input {
        height: 40px;
        border-radius: 4px;
        border: 1px solid #dadada;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .input-group input.invalid {
        border: 1px solid red;
    }

    .input-group .error-message {
        color: red;
        font-size: 0.875em;
        margin-top: 0.25em;
    }

    .form-title {
        p {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .forgot-password-dialog {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .dialog-content {
        background: white;
        width: 30%;
        height: 450px;
        padding: 20px 40px 40px;
        
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .content-icon {
           text-align: end;
           cursor: pointer;
        }

        .content-form {
            margin-top: 50px;

            p:last-child {
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        button,p, input {
           margin-top: 30px;
        }
    }
    
    .dialog-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    label {
        margin-bottom: 5px;
    }

    a {
        margin-top: 15px;
        text-decoration: underline;
        color: #454545;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .password-wrapper {
        position: relative;
    }

    .eye-icon {
        position: absolute;
        top: 60%;
        padding-left: 20px;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 1.2em;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;

        .login-image {
            display: none;
        }

        .login-form {
            width: 100%;
            padding: 0 20px;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}
