.main_title_section_container {
    background-color: #000000;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title_section_container span {
    font-size: 1.5rem;
}

.main_title_section_container h1 {
    color: #FFFFFF;
    font-size: 6rem;
}

.form_appointment_container {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.form_appointment_title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.btn_secondary_custom {
    padding: 0.75rem 2.25rem;
    background-color: transparent;
    color: #7b5f43;
    border: 2px solid #7b5f43;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn_secondary_custom:hover {
    background-color: #7b5f43;
    color: #ffffff;
}

.btn_primary_custom {
    padding: 0.75rem 2.25rem;
    background-color: #7b5f43;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border: 2px solid #7b5f43;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
}

.btn_primary_custom:hover {
    background-color: #FFFFFF;
    color: #7b5f43;
}


.form_appointment label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form_control_custom {
    width: 100%;
    border: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
}

.form_control_custom:focus {
    border-color: #495057;
    outline: none;
}

.form_contactUs_container {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.form_contactUs_container h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

.form_contactUs_container p {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
}

.quantity_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dee2e6;
}

.quantity_container .btn_minus {
    padding: 0.5rem 1rem;
    border: none;
    border-right: 1px solid #dee2e6;
    background-color: transparent;
}

.quantity_container .btn_plus {
    padding: 0.5rem 1rem;
    border: none;
    border-left: 1px solid #dee2e6;
    background-color: transparent;
}
.btn_danger_custom{
    padding: 0.75rem 2.25rem;
    background-color: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn_danger_custom:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.btn_delete{
    padding: 0.5rem;
    background-color: transparent;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn_delete:hover {
    background-color: #ff0000;
    color: #ffffff;
}


@media screen and (max-width: 991px) {
    .main_title_section_container span {
        font-size: 1.25rem;
    }

    .main_title_section_container h1 {
        font-size: 4.5rem;
    }

    .form_appointment_title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .form_contactUs_container h1 {
        font-size: 3rem;
    }

    .form_contactUs_container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .main_title_section_container span {
        font-size: 1rem;
    }

    .main_title_section_container h1 {
        font-size: 4rem;
    }

    .form_appointment_title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .form_contactUs_container h1 {
        font-size: 2.75rem;
    }

    .quantity_container .btn_minus,
    .quantity_container .btn_plus {
        padding: 0.25rem 0.5rem;
    }
}